.content{
    max-width: 500px;
    margin: auto;
    background-color: azure;
    padding: 2% 2%;
}
button{
    background-color: black;
    color: aliceblue;
}
button:hover{
    color: #fff;
}
.error{
    color: red;
}